@*
05.23.13 - TR - Hooked into services
04.23.13 - TR - Created *@

@*
/* Authors:
 *      Tonia Roddick (troddick@usgs.gov)
 * Copyright:
 *      2012 USGS - WiM
 * Purpose:
 *      Display the Modifiers Part Edit page 
 */
 *@
 
@using BLTServices;
@using BLTWeb.Assets.Resources;

@model BLTServices.AI_CLASS
           
@{
    ViewBag.Title = "Edit AI Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="loading"><div id="loadingcontent"><p id="loadingspinner" style=""><img src="@Url.Content("~/Assets/Images/LoadingOrange110.gif")" /></p></div></div>

<div class="partsTitle">
    <div style="float:left">Bulletins Components - AI Class</div> 
    @if (ViewData["Role"] == "Admin")
    {
        <div style="float:left">&nbsp;&nbsp;
            @Html.ActionLink("Expire", "ExpireAI_Class", "Parts", new { id = Model.ID}, new { onclick = "return confirm('Are you sure you want to expire Active Ingredient Class " + Model.AI_CLASS_NAME + "?');", @class = "BLTButton blue" })
        </div>
    }
    <span id="errorSection" class="failureNotification"><asp:Literal ID="ErrorMessage" runat="server"></asp:Literal></span>
</div>

@if (ViewData["Role"] == "Admin" || ViewData["Role"] == "Publish")
{
    using (Html.BeginForm("AI_Class_Edit", "Parts", new { id = Model.ID }, FormMethod.Post, new { @id = "form0" }))
    {
        <div class="siteColumn">
    
         <input type="hidden" name="ID" value="@Model.ID" />
         <input type="hidden" name="AI_CLASS_ID" value="@Model.AI_CLASS_ID" />

            <div class="ui-grid-a">
                <div data-role="fieldcontain">
	                <div class="ui-block-a"><span class="required">@Html.Label(ResStrings.AIClassName_Label)</span></div>
	                <div class="ui-block-b"><input type="text" class="required bltTextInput ui-shadow-inset" name="AI_CLASS_NAME" data-mini="true" value="@Model.AI_CLASS_NAME"  /></div>
                </div>
             </div>
	
        
            <br clear="all" />
    
            <div id="formSubmitDiv" class="formSection">
            <div class="leftSideSubmit">
                <div class="submitDiv"><div class="darkButtonBorder"><input type="submit" name="Create" class="submit" value="Save" /></div></div>
                <div class="cancelDiv"><div class="lightButtonBorder"><input type="reset" id="resetButton" class="cancel" value="Cancel" onclick="cancelClick();" /></div></div>
            </div>
            </div>

     </div>
    }
}
else
{
    <div>You are not authorized to edit an AI Class.</div>
}

<script type="text/javascript">
    function cancelClick() {
        $("#loading").fadeIn();
        window.location.href = '@Url.Action("Index", "Parts")'
    };
</script>

<script type="text/javascript">
    function loading() {
        $("#loading").fadeIn();
    }
</script>

<script type="text/javascript">
    $("#form0").submit(function () {
        var MISSING = "ui-req";
        var SelMISSING = "ui-Sel-req";

        var requiredInput = $('input[class*="required"]');
        var requiredSelect = $('select[class*="required"]');
        var requiredTextArea = $('textarea[class*="required"]');

        var Ierr = false;
        var Serr = false;
        var Terr = false;
        var missingMsg = "The highlighted fields are required.";

        // Reset the previously highlighted input fields  
        requiredInput.each(function (index) {
            $(this).removeClass(MISSING);
            $(this).addClass("ui-shadow-inset");
        });
        // Reset the previously highlighted select fields  
        requiredSelect.each(function (index) {
            $(this).removeClass(MISSING);
            $(this).addClass("ui-shadow-inset");
        });
        // Reset the previously highlighted textarea fields  
        requiredTextArea.each(function (index) {
            $(this).removeClass(MISSING);
            $(this).addClass("ui-shadow-inset");
        });
        // Perform form validation (input field)
        requiredInput.each(function (index) {
            if ($(this).val() == null || $(this).val() == "") {
                $(this).addClass(MISSING);
                $(this).removeClass("ui-shadow-inset");
                Ierr = true;
            }
        });
        // Perform form validation (select field) 
        requiredSelect.each(function (index) {
            var ind = $(this).context.selectedIndex;
            if (ind == 0) {
                $(this).addClass(SelMISSING);
                Serr = true;
            }
        });
        // Perform form validation (textarea field)
        requiredTextArea.each(function (index) {
            if ($(this).val() == null || $(this).val() == "") {
                $(this).addClass(MISSING);
                $(this).removeClass("ui-shadow-inset");
                Terr = true;
            }
        });
        // Check if validation fails
        if (Ierr == true || Serr == true || Terr == true) {
            $("#errorSection").append(missingMsg);
            return false;
        }
        else {
            loading();
            return true;
        }
    });
</script>